.dropdown {
  position: relative;
  display: inline-block;
  
}
.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right:0px;
  width: 178px;
  background-color: white;
  font-weight:bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown li a {
  color: #000;
  text-decoration: none;
}
.dropdown li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown li:last-child {
  border-bottom: none;
}
.dropdown li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button{
  width:178px;
  height:18px;
  padding: 6px;
  border-radius:2px;
  border: 1px #dedede solid;
  height: 33px;
  color:#4d4d4d;
  font-size: 14px;
}
.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: rgb(185, 185, 185) transparent transparent transparent;
  right:6px;
  top:13px
}