.carteViewContainer {
    width: 100%;
    min-width: 30%;
    background: white;
    text-align: center;
    box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    margin: 7.5px;
    padding:15px;
    flex-direction: column;
    flex-wrap: wrap;

}
.carteViewHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /* border-color:#dedede;
    border-bottom-width: 0.5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid; */
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.carteViewHeaderLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    
}


.carteViewHeader h1 {
    font-size: 59px;
}

.carteViewHeader h3 {
    color: #4d4d4d;
    font-weight: 1000;
    /* background: grey; */
}

.carteViewHeaderRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
    width: 100%;

}
.carteViewHeaderCenter {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    width: 100%;
    align-items: center;

}

.carteViewContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;  
    border-bottom: 1px #dfdfdf solid;
    padding: 10px 0px;
    /* border-top: 1px #dfdfdf solid; */
}
.carteViewLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    align-items: center;  
}
.carteViewLeft img {
    border-radius: 5px;
}

.carteViewCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 10px;
}

.carteViewCenter h4 {
    /* border-radius: 3px; */
    color: #4d4d4d;
    text-transform: capitalize;
    margin-top:5px;
    max-lines: 1;
    line-break: loose;
}
.carteViewCenter h3 {
    /* border-radius: 3px; */
    color: #4d4d4d;
    font-size: 12px;    
    text-transform: capitalize;

}
.carteViewCenter h2 {
    border-radius: 3px;
    color: #4d4d4d;
    font-size: 14px;
}

.carteViewRight {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
    align-items: flex-end;    
}

.carteViewItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    align-items: flex-start;    
    /* background: white */
}

.carteViewContent table {
    width:100%;
    text-align: left;
    padding-left: 15px;
    border-spacing: 0px;
    
}   

.carteViewContent th {
    padding:5px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-top: 15px;
    /* background: #f3f3f3 ; */
    border-bottom: 1px solid #dfdfdf;
    
}

.carteViewContent tr {
    padding:5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    border: 1px solid #f3f3f3;
    white-space: pre-line;
    max-width: 150px;
    max-lines: 1;
    width: 100%;
    ;
}
.carteViewContent td {
    padding:5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    /* border-top: 1px solid #f3f3f3; */
    white-space: pre-line;
    max-width: 150px;
    max-lines: 1;
}


.carteViewContent tr:hover {
    
    padding:5px;
    /* background:#f3f3f3; */
}

.carteViewContent h1 {
    font-size: 50px;
}

.carteViewFooter {
    display: flex;
    flex-direction: row;    
    width: 100%;
    align-items: flex-start;   
}

.newProduct {
    background:rgb(46, 148, 188);
    padding: 5px 15px;
    border-radius: 3px;
    color:white;
    /* max-width: 60px; */
    text-align: center;
    margin:3px;
    cursor: pointer;

}

.statusAtivo {
    background:#2EBC9B;
    padding: 5px;
    border-radius: 3px;
    color:white;
    max-width: 60px;
    text-align: center;
    margin:3px
}

.statusLixo {
    background:#EB3448;
    padding: 5px;
    border-radius: 3px;
    color:white;
    text-align: center;
    min-width: 90px;

    margin:3px

}

.statusInativo {
    background:#FFCE00;
    padding: 5px;
    border-radius: 3px;
    color:white;
    max-width: 60px;
    text-align: center;
    margin:3px
}

.searchForm {
    background:#f3f3f3;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    color:#4d4d4d;
    width: 100%;
    text-align: center;
    margin:3px;
    text-align: left;
    
}
.btnTools{
    padding: 5px;
    border-radius: 3px;
    color:white;
    max-width: 60px;
    text-align: center;
    margin:3px;
    background: #d3d3d3;
}

.carteViewContentTools {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;    
    height:90px;
}